.list-group {
    margin-top: 50px;
    margin-left: 50px;
    width: 450px;
}

.list-group-item {
    width: 400px;
    margin-bottom: 5px;
}

.btn {
    float: right;
    margin-left: 5px;
}

img {
    margin-top: 5px;
    margin-left: 36px;
}