.custom-button{
 width: 120px;
 height: 35px;
}
.buttons{
    float: left;
    margin-top: 10px;
}

.list-group {
    margin-left: 15px;
    width: 250px;
}

.list-group-item {
    width: 400px;
    margin-bottom: 5px;
}

.btn {
    float: right;
    margin-left: 5px;
}

.title {
   font-family:'Times New Roman', Times, serif;
   margin-top: 30px;
}


