  <div class="col-sm-7" style="margin-left: 50px;">
    <h5 style="margin-left: 15px;"><b>Ingredients per piece</b></h5>
    <ul class="list-group" >
       <div *ngFor="let ingred of ingredientsPerPiece; let i = index">      
          <div class="row" >
            <li class="list-group-item">
              {{ ingred.name }}
              <button class="btn btn-primary" >
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-primary" (click)="onDeletePerPiece(i)">
                <i class="fa fa-trash"></i>
              </button>
            </li>
          </div>
        </div>
      
      <h5 style="padding-top: 10px;"><b>Ingredients per unit</b></h5>
      <div *ngFor="let ingred of ingredientsPerUnit; let i = index">
        <div class="row">
          <li class="list-group-item">
            {{ ingred.name }}
            <button class="btn btn-primary">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-primary" (click)="onDeletePerUnit(i)">
              <i class="fa fa-trash"></i>
            </button>
          </li>
        </div>
      </div>
     
    </ul>
</div>