<div class="container mt-3">
  
  <div class="container">
    <div class="col-md-7" *ngIf="ingredList.length>0">
      <h5 align= "center" class="title"><b>Ingredients to buy</b></h5>
    <table
      id="shop-table"
      class="table table-striped table-bordered"
      width="100%"
    >
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingred of ingredList; let i = index">
          <td>{{i+1}}</td>
          <td>{{ ingred.ingredName }}</td>
          <td *ngIf="ingred.quantityToBuy !== null">{{ ingred.quantityToBuy }} {{getIngredUnitType(ingred.unitType)}}</td>
          <td *ngIf="ingred.numberOfPiecesToBuy !== null">{{ ingred.numberOfPiecesToBuy }} {{getIngredUnitType(ingred.unitType)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-7" *ngIf="ingredList.length===0 && messageFlag" style="margin-top: 30px;">
     <h5>
       <b>
       <p>
        Enjoy preparing food!<br>
        All ingredients you need are in the storage already.<br>
        There is no need to buy another ones!
      </p>
      </b>
      </h5>
    </div>
  </div>
</div>

