<div>
  <div class="col-sm-9" style="margin-left: 50px;">
    <h5><b>View Recipe {{recipe.name}}</b></h5>
      <div class="container">
      <ul class="list-group" *ngIf="recipeDetails !== undefined">
        <div *ngFor="let ingred of recipeDetails.ingredList; let i = index">      
            <li *ngIf="ingred.type===null">
              {{ ingred.name }}  {{ingred.pieces}} Pieces
            </li>

            <li *ngIf="ingred.type===0">
              {{ ingred.name }}  {{ingred.quantity}} Grams
            </li>

            <li *ngIf="ingred.type===1">
              {{ ingred.name }}  {{ingred.quantity}} Liters
            </li>
          </div>
      </ul>
      <button class="btn btn-danger clear-btn" (click)="onClose()">
        Clear
      </button>
  </div>
  </div>
</div>